<footer>

    <div class="footer-col">
        <p class="list-title">contact us:</p>
        <ul>
            <li>Email: <a href="mailto:shefiucakes@gmail.com">shefiucakes@gmail.com</a></li>
            <li>phone number: <span class='phone-number'>080-364-378-38</span></li>
        </ul>
    </div>

    <div class="footer-col">
        <p class="list-title">social media:</p>
        <ul>
            <li><a href="#">facebook</a> <i class="fab fa-facebook"></i></li>
            <li><a href="#">instagram</a> <i class="fab fa-instagram"></i></li>
            <li><a href="#">twitter</a> <i class="fab fa-twitter"></i></li>
        </ul>
    </div>

</footer>